<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onestore.iap.unity">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="iap:api_version"
            android:value="4" />

        <activity
            android:name="com.onestore.iap.unity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
